@model IEnumerable<UserManagementWithIdentity.Models.MyTask>

@{
    ViewData["Title"] = "Index";
    var Colores = new string[] { "success", "warning", "primary" };
    int i = 0;
}
<style>
</style>

<p>
    <a asp-action="Create" class="btn btn-primary fw-bolder ">Create New</a>
</p>



<div class="row">
    @foreach (var item in Model)
    {
        if (i == 3) i = 0;
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">@item.Name</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-@Colores[i]">
                                <span class="widget-49-date-day"> @item.TaskDate?.ToString("dd")</span>
                                <span class="widget-49-date-month">@item.TaskDate?.ToString("MMM")</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">@item.Status</span>
                                <span class="widget-49-meeting-time text-secondary">Creator Name </span>
                                <span class="widget-49-meeting-time"> @Html.DisplayFor(modelItem => item.TaskTimeFrom) to  @Html.DisplayFor(modelItem => item.TaskTimeTo)</span>
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            @*    <li class="widget-49-meeting-item"><span>Expand module is removed</span></li>
                        <li class="widget-49-meeting-item"><span>Data migration is in scope</span></li>
                        <li class="widget-49-meeting-item"><span>Session timeout increase to 30 minutes</span></li>
                        *@
                            @Html.DisplayFor(modelItem => item.Description)
                        </ol>
                        <div class="widget-49-meeting-action">
                            <a asp-action="Edit" class="btn btn-sm fw-bold text-light btn-warning " asp-route-id="@item.ID">Edit</a>
                            <a asp-action="Details" class="btn btn-sm  fw-bold text-light btn-info" asp-route-id="@item.ID">Details</a>
                            <a asp-action="Delete" class="btn btn-sm fw-bold text-light btn-danger" asp-route-id="@item.ID">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        i++;
    }

</div>